@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Rubik+Scribble&display=swap');

:root {
    --primary-color: #0b0014;
    --secondary-color: #c44536;
    --accent1-color: #e4ff1a;
    --accent2-color: #edf7f6;

    --heading-font: 'Rubik Scribble', serif;
    --paragraph-font: Rubik, serif;
    --nav-font: 'Rubik Scribble', serif;

    --nav-background-color: #c44536;
    --nav-link-color: #edf7f6;
    --nav-hover-link-color: #e4ff1a;
    --nav-hover-background-color: #0b0014;

    --url-link-color: #e4ff1a;
    --url-link-hover-color: #edf7f6;
    --url-link-visited-color: #c44536;
}

html {
    background-color: var(--primary-color);
}

h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    color: var(--accent2-color);
}

body {
    width: 1000px;
}

.hero {
    position: relative;
    padding-top: 4px;
}

h1 {
    position: absolute;
    left: 15rem;
    top: .3rem;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.heroarticle {
    position: absolute;
    top: 90px;
    right: 45px;
    display: block;
    width: 90%;
    background-color: rgba(196, 69, 54, .8);
}

.heroarticle img {
    float: right;
}

.heroarticle p {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2rem;
    padding-left: .8rem;
}

.logo {
    background-color: var(--secondary-color);
    width: 100%;
}

a {
    color: var(--url-link-color);
}

a:hover {
    color: var(--url-link-hover-color);
}

a:visited {
    color: var(--url-link-visited-color);
}

.headnav {
    background-color: var(--nav-background-color);
    font-family: var(--nav-font);
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

.headnav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

.headnav a:link, nav a:visited {
    color: var(--nav-link-color)
}

.headnav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.sociallinks {
    background-color: var(--nav-background-color);
    font-family: var(--nav-font);
    display: flex;
    justify-content: space-evenly;
}

.sociallinks a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}

footer p {
    text-align: center;
}