@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Rubik+Scribble&display=swap');

:root {
    --primary-color: #0b0014;
    --secondary-color: #c44536;
    --accent1-color: #e4ff1a;
    --accent2-color: #edf7f6;

    --heading-font: 'Rubik Scribble', serif;
    --paragraph-font: Rubik, serif;
    --nav-font: 'Rubik Scribble', serif;

    --nav-background-color: #c44536;
    --nav-link-color: #edf7f6;
    --nav-hover-link-color: #e4ff1a;
    --nav-hover-background-color: #0b0014;

    --url-link-color: #e4ff1a;
    --url-link-hover-color: #edf7f6;
    --url-link-visited-color: #c44536;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--primary-color);
}

body {
    width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    background-color: var(--secondary-color);
    grid-template: 1fr / 1fr 2fr;
    align-items: center;
}

nav {
    grid-column: 2;
    font-family: var(--nav-font);
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

h1 {
    position: absolute;
    left: 25%;
    top: .3rem;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    padding: 20px 36.52px 20px 36.52px;
}

h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    color: var(--accent2-color);
    font-family: var(--paragraph-font)
}

figcaption {
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
}

footer {
    background-color: var(--secondary-color);
    display: grid;
    grid-template: 1fr / 1fr;
}

footer p {
   font-family: var(--nav-font);
   font-weight: bold;
   font-size: 1.5rem;
   grid-column: 1;
   align-self: center;
   padding-left: 1rem;
}

/* Class selectors */
.logo {
    background-color: var(--secondary-color);
    width: 100%;
    grid-column: 1;
}

.hero {
    position: relative;
    padding-top: 0.1rem;
}

.heroarticle {
    position: absolute;
    top: 90px;
    right: 50px;
    display: block;
    width: 90%;
    background-color: rgba(196, 69, 54, .8);
}

.heroarticle img {
    float: right;
}

.heroarticle p {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2rem;
    padding: 30px 220px 30px 30px;
}

.adventure {
    display: grid;
    padding: 30px 0 30px 0;
}

.trips {
    display: flex;
    gap: 10px;
}

.trips img {
    max-width: 100%;
}

.trips figcaption {
    text-align: center;
}

.social {
    grid-column: 2;
    display: flex;
    padding: 0.5rem;
}

.social a {
    padding: 0.25rem 0.5rem 0 0.5rem
}

.social a:hover {
    background-color: var(--accent1-color);
}