@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100&family=Rubik+Scribble&display=swap');

:root {
    --primary-color: #0b0014;
    --secondary-color: #c44536;
    --accent1-color: #e4ff1a;
    --accent2-color: #edf7f6;

    --heading-font: 'Rubik Scribble', serif;
    --paragraph-font: Rubik, serif;
    --nav-font: 'Rubik Scribble', serif;

    --nav-background-color: #c44536;
    --nav-link-color: #edf7f6;
    --nav-hover-link-color: #e4ff1a;
    --nav-hover-background-color: #0b0014;

    --url-link-color: #e4ff1a;
    --url-link-hover-color: #edf7f6;
    --url-link-visited-color: #c44536;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--primary-color);
}

body {
    width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    background-color: var(--secondary-color);
    grid-template: 1fr / 1fr 2fr;
    align-items: center;
}

nav {
    grid-column: 2;
    font-family: var(--nav-font);
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

h1 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    padding: 1rem;
}

h2, h5, h6 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    padding: 1rem;
}

h3, h4 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    padding: 0.1rem;
}

p, label {
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
}

figcaption {
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
}

table {
    font-family: var(--paragraph-font);
    font-size: smaller;
    color: var(--accent2-color);
    border: 1px solid var(--accent2-color);
    border-collapse: collapse;
    border-spacing: 0;
    margin: 2rem 0 0.5rem 0;
}

th, td {
    border: 1px solid var(--accent2-color);
    padding: 4px;
}

thead > tr:nth-of-type(1) {
    vertical-align: bottom;
}

thead {
    border-bottom: 5px double var(--accent2-color);
}

tbody > tr > th:first-of-type {
    text-align: center;
    vertical-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: var(--secondary-color);
}

thead, tfoot {
    background-color: var(--secondary-color);
}

tfoot {
    border-top: 5px double var(--accent2-color);
}

caption {
    caption-side: top;
    font-size: x-large;
}

input, textarea {
    width: 330px;
    font-size: large;
    border: none;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

input[type="checkbox"], input[type="radio"] {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

button {
    width: 200px;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    border: none;
    font-family: var(--nav-font);
    font-weight: bold;
    font-size: 1.5rem;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border: none;
}

footer {
    background-color: var(--secondary-color);
    display: grid;
    grid-template: 1fr / 1fr;
    
}

footer p {
   font-family: var(--nav-font);
   font-weight: bold;
   font-size: 1.5rem;
   grid-column: 1;
   align-self: center;
   padding-left: 1rem;
}

/* Class selectors */
.logo {
    background-color: var(--secondary-color);
    width: 100%;
    grid-column: 1;
}

.hero {
    position: relative;
    padding-top: 0.1rem;
}

.hero-h1 {
    position: absolute;
    left: 25%;
    top: .3rem;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    padding: 20px 36.52px 20px 36.52px;
}

.heroarticle {
    position: absolute;
    top: 90px;
    right: 50px;
    display: block;
    width: 90%;
    background-color: rgba(196, 69, 54, .8);
}

.heroarticle img {
    float: right;
}

.heroarticle p {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2rem;
    padding: 30px 220px 30px 30px;
}

.adventure {
    display: grid;
    padding: 30px 0 30px 0;
}

.trips {
    display: flex;
    gap: 10px;
}

.trips img {
    max-width: 100%;
}

.trips figcaption {
    text-align: center;
}

.social {
    grid-column: 2;
    display: flex;
    padding: 0.5rem;
}

.social-icon {
    padding: 0.25rem 0.5rem 0 0.5rem
}

.social-icon:hover {
    background-color: var(--accent1-color);
}

.staff-group {
    display: flex;
    gap: 10px;
    padding-bottom: 1rem;
}

.staff-group img {
    max-width: 100%;
    padding: 0 2rem 0 2rem;
}

.staff-group figcaption, .contact-group p {
    text-align: center;
}

.contact-group {
    display: flex;
    gap: 10px;
    padding: 1rem 0 1rem 0;
}

.contact-group iframe {
    max-width: 100%;
    border: none;
}

.message {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    border: 5px solid var(--secondary-color)
}

.radio label {
    display: block;
    text-align: left;
}

.wireframe {
    text-decoration: none;
    align-self: center;
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
    padding: 0 2rem 0 2rem;
}

.wireframe:hover {
    color: var(--primary-color);
}

.summary {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    gap: 0 50px;
    align-items: center;
}

.raft-it {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    gap: 50px 100px;
    align-items: center;
}

.summary h1 {
    grid-column: span 2;
}

.big-falls {
    grid-column: span 2;
    display: flex;
    position: relative;
}

.big-falls button {
    position: absolute;
    top: 79%;
    left: 5%;
    padding: 1rem;
    box-shadow: 10px 10px 10px var(--primary-color);
}

.go-there {
    position: absolute;
    top: 10%;
    left: 60%;
    padding: 0.5rem 1rem 2rem 1rem;
    font-size: 40px;
    color: var(--primary-color);
    background-color: rgba(196, 69, 54, .8);
}

.big-falls p {
    position: absolute;
    top: 25%;
    left: 78%;
}

.needs, .jerry {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adrenaline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 3rem; */
}

.jerry img {
    width: 100%;
}

.adrenaline img {
    width: 100%;
}

.newsletter {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-column: span 2;
    border: 5px solid var(--secondary-color);
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
}

.newsletter form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.newsletter form div {
    padding: 1rem;
}

.newsletter button {
    margin: 1rem;
    width: 300px;
    padding: 0.5rem;
}

.newsletter div {
    padding-top: 1rem;
}

.needs img {
    width: 100%;
    padding-bottom: 2rem;
}

.needs button {
    width: 200px;
    padding: 0.8rem;
}

.rafters {
    display: flex;
    flex-direction: column;
}

.rafters figure {
    width: 100%;
    text-align: center;
    padding: 1.5rem;
}

.rafters img {
    width: 100%;
}

/* ID Selectors */
#general, #reservation, #suggestion, #newsletter {
    width: auto;
}