@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Rubik+Scribble&display=swap');

:root {
    --primary-color: #0b0014;
    --secondary-color: #c44536;
    --accent1-color: #e4ff1a;
    --accent2-color: #edf7f6;

    --heading-font: 'Rubik Scribble', serif;
    --paragraph-font: Rubik, serif;

    --nav-background-color: #0b0014;
    --nav-link-color: #e4ff1a;
    --nav-hover-link-color: #edf7f6;
    --nav-hover-background-color: #c44536;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

ol {
    padding: 0 25px 25px 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-family: var(--heading-font);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}